.doctorprofileTitle h1{
  height: 90px;
  width: 100%;
  margin-top: 70px;
  text-align: center;
}

.doctorprofile {
  height: 340px;
  width: 60%;
  display: flex;
  margin-left: 400px;
  margin-top: 70px;
}

.doctorprofile img{
  width: 30%;
  height: 80%;
  margin-top: 5px;
  margin-left: 60px;
}

.doctorprofile h3{
  margin-top: 45px;
  margin-left: 140px;
}

.doctorprofile ul {
  list-style-type: none;
  text-align: left;
  margin-left: 150px;
}

.bookAppointment{
  height: auto;
  width: 60%;
  display: flex;
  flex-direction: column; 
  margin-left: 400px;
}

.bookAppointmentTitle{
  height: 90px;
  width: 100%;
}

.bookAppointment p{
  color: white;
  background-color: gray;
  font-size: 1.1rem;
  height: 60px;
  text-align: center;
}

.reviews{
  width: 60%;
  margin: 20px auto;
}

.reviews h3{
  margin-left: 25px;
  margin-top: 0px; 
}

.reviews div {
  border: 1px solid #ccc; /* Add border to review cards */
  padding: 10px;
  margin-bottom: 10px;
}

.reviews p {
  margin: 5px 0;
}

.leaveReviewSection {
  margin: 0 auto;
}

.leaveReviewSection form {
  padding: 20px;
  width: 40%;
  margin: 0 auto;
}

.leaveReviewSection label {
  display: block;
  margin-bottom: 10px;
}

.leaveReviewSection textarea,
.leaveReviewSection input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-color: #3A3E40;
  border-radius: 8px;
}

.leaveReviewSection button {
  padding: 10px 20px;
  background-color: #87E3C2;
  color: #3A3E40;
  border: none;
  cursor: pointer;
  margin: 0 auto;
}

.leaveReviewSection button:hover {
  color: black;
}
