.footer{
  width: 100%;
  height: 200px; 
  display: flex;
  justify-content: space-around; 
  align-items: center; 
  flex-wrap: wrap; 
  background-color:  #87E3C2;
  margin: 0;
  color: #3A3E40;
}
.col-md-3 {
  color: #3A3E40;
}
.container.p-2 {
  content: center;
  width: 100%;
  background-color:  #87E3C2;
}

.footerImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  margin-bottom: 10px; 
}

.footerImg img {
  width: 100px;
}

.footerImg p {
  font-size: 0.8rem;
  margin: 0;
  margin-left: 10x;
}

a, li {
  font-size: 1.2rem;
  color: #3A3E40;
  text-decoration: none;
}


