.containerHome{
  width: 100%;
}

.row1 {
  width: 100%;
  height: 350px;
  background-color:#87E3C2 ;
}

.homePageThreelslides{
 width: 100%;
}

.textThreeslide{
  font-size: 2rem;
  color: gray;
}


.btnBefore{
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 15px solid white;
  background-color: transparent; 
  cursor: pointer;
  padding: 0; 
  margin-right: 10px; 
  outline: none; 
  border-radius: 0; 
  border-left: none; 
  font-size: 0; 
  margin-left: 0px;
  margin-top: 120px;

}

.btnAfter{
  width: 0;
  height: 0;
  border-top: 10px solid transparent; 
  border-bottom: 10px solid transparent; 
  border-left: 15px solid white; 
  background-color: transparent; 
  cursor: pointer; 
  padding: 0; 
  margin-left: 10px; 
  outline: none; 
  border-radius: 0; 
  border-right: none; 
  font-size: 0; 
  margin-left: 1700px;
  margin-top: 120px;

}

.Blog-title{
  position: center;
}

.row2{
  display: flex;
  width: 100%;
  height: 350px;
}

.row3{
  display: flex;
  width: 100%;
  height: 300px;
  background-color: white;
}

.row4{
  display: flex;
  width: 100%;
  height: 200px;
  background-color:gray;
  margin-bottom: 50px;
  
}

.news h2{
  margin-top: 10px;
}

.row4 p{
  margin-top: 30px;
}

.homePageThreelslides {
  position: relative;
  width: 100%;
  height: 350px; 
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.homePageThreelslides .textThreeslide {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
}