.navbar{
  width: 100%;
  height: 200px;
  background-color:  #87E3C2;
}

.navImg{
  margin-left: 190px;
  margin-top: 10px;
}

.navcontainer{
  display: flex;
  list-style: none;
}

.navbar-nav{
     list-style: none;
}

.navdivitens {
  display: flex; 
  margin-right: 20px;
  margin-top: 70px;
  margin-left: 700px;
}

.nav-link {
  margin-right: 90px;
  font-size: 1.6rem;
  color: #3A3E40;
  text-decoration: none;;
}

.nav-link:hover {
  color:black; 
  text-decoration: none;
}